:root {
  --w: 320px;
}

body {
  width: var(--w);
  margin: 0;
  padding: 12px;
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
}

.header {
    font-family: 'Lobster', cursive;
    color: green;
    text-align: center;
    font-size: 20px;
}

.title {
  -webkit-text-stroke: 0.3px black;
}

.subtitle {
    font-family: 'Amatic SC', sans-serif;
    padding-bottom: 20px;
    font-size: large;
    font-size: 22px;
    -webkit-text-stroke: 0.2px black;
}

.slots {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row {
  display: flex;
  justify-content: center;
  gap: 5px;
}
