:root {
    --w: 320px;
}

body {
    width: var(--w);
    margin: 0;
    padding: 12px;
    font-family: system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
    background: linear-gradient(135deg, #fefefe, #c2c0c0);
    border: 5px solid rgb(196, 252, 196);
    box-sizing: border-box;
}

.header {
    font-family: 'Lobster', cursive;
    color: green;
    text-align: center;
    font-size: 20px;
}

.title {
    margin-top: px;
    -webkit-text-stroke: 0.3px black;
}

.instructions {
    font-family: 'Amatic SC', sans-serif;
    padding-bottom: 13px;
    font-size: large;
    font-size: 22px;
    -webkit-text-stroke: 0.2px black;
}

.slots {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row {
    display: flex;
    justify-content: center;
    gap: 5px;
}

.slot1 {
    margin-bottom: 2rem;
}

.slot2, .slot3 {
    margin-top: 2rem;
    margin-bottom: 2rem;
}


.slot-head {
  display: flex;
  align-items: center;
  gap: 8px;
}

.slot-num {
  margin: 0;
  font-size: 14px;
  line-height: 1;
}

.name {
  flex: 1;
}

.slot-num {
    font-family: 'Amatic SC', sans-serif;
    color: green;
    font-size: 28px;
}

.name {
    border: 2px solid green;
    border-radius: 5px;
}

.go, .clear, .save {
    border: 2px solid green;
    border-radius: 5px;
    font-family: 'Lobster', cursive;
    color: green;
    -webkit-text-stroke: 0.5px black;
}

.go:hover, .clear:hover, .save:hover {
    background-color: rgb(170, 244, 170);
}

.saved-name, .saved-icon {
    font-family: 'Amatic SC', sans-serif;
    color: green;
    font-size: 30px;
}

.saved-name {
    margin-right: 10px;
}
