:root {
    --w: 320px;
}

body {
    width: var(--w);
    margin: 0;
    padding: 12px;
    font-family: system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
    background: linear-gradient(135deg, #fefefe, #c2c0c0);
}

.header {
    font-family: 'Lobster', cursive;
    color: green;
    text-align: center;
    font-size: 20px;
}

.title {
    -webkit-text-stroke: 0.3px black;
}

.subtitle {
    font-family: 'Amatic SC', sans-serif;
    padding-bottom: 20px;
    font-size: large;
    font-size: 22px;
    -webkit-text-stroke: 0.2px black;
}

.slots {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row {
    display: flex;
    justify-content: center;
    gap: 5px;
}

.slot1 {

    margin-bottom: 2rem;
}

.slot2 {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.slot3 {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.slot-head {
  display: flex;
  align-items: center;
  gap: 8px;
}

.slot-num {
  margin: 0;
  font-size: 14px;
  line-height: 1;
}

.name {
  flex: 1;
}

.slot-num {
    font-family: 'Lobster', cursive;
    color: green;
    font-size: 20px;
    -webkit-text-stroke: 0.1px black;
}